body {
    margin: 0;
}

header {
    padding: 10px;
    background-color: #333;
}

main {
    padding: 10px;
    font-family: 'PT Sans Narrow', sans-serif;
}

h1,
h2,
h3 {
    margin: 8px 0;
}

h1 {
    font-family: 'Dancing Script', cursive;
    color: #ccc;
    font-size: 2.3em;
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-weight: normal;
    color: #bbb;
}

h3 {
    font-size: 1.8em;
}

p {
    font-size: 1.2em;
}

#data {
    display: inline-block;
    h4{
        display: inline;
        margin: 1.5em .5em;
    }
    p {
        display: inline;
    }
    .currency {
        font-weight: bold;
    }
}

#dashboard{
    display: block;
    background-color: blue;
    #resources{
        display: inline-block;
        background-color: green;
        width: 15%;
    }

    #chart_div{
        display: inline-block;
        width: 900px; 
        height: 500px;
    }
}
